<html>
  <head>
    <title>About us</title>
    <link href="bootstrap.min.css" rel="stylesheet">
	<h1 align="center">About us</h1>
  </head>
  <body>
    <div class="container">
      <div class="row" align="center">
	<p>   </p>
	<p>   </p>
	<p>   </p>
	<p><img src="C.jpg" width="500" height="600"/></p>	
       <p><font color="white" size="+2">C Hotel is the global leader and innovator of the lifestyle hospitality sector, dedicated to building the best-in-class and service while providing 24-hour excellent non-stop service to its customers........
      </div>
    </div>
	<p align="center"><a href="front">Go to home</a></p>
  </body>
</html>
