<html>
  <head>
    <title>Reserve</title>
    <link href="bootstrap.min.css" rel="stylesheet">
	<h1 align="center"><br><br><br>Are you sure you want to confirm?</h1>
	
  </head>
  <body>
	<h2 align="center"><br><br><br>This is your reservation details <%= @details %></h2>

	<p align="center"><a href="front"><font size="+2">Go to home</font></a></p>
  </body>
</html>
