<html>
  <head>
    <title>Reserve</title>
    <link href="bootstrap.min.css" rel="stylesheet">
	<h1 align="center">Reserve a room</h1>
  </head>
  <body>
       <p align="center"><font color="white" size="+5">Here is the page where you get to reserve a room.</font></p>
	<div align ="center">
	<form method="POST" action="/reserve">
	<label for="details"></label>
	Choose (or input) your desired date here: <input type="date" name="dated">
	<select name="room">
	<option value="room1">Room1</option>
	<option value="room2">Room2</option>
	<option value="room3">Room3</option>
	<option value="room4">Room4</option>
	<option value="room5">Room5</option>
	<option value="room6">Room6</option>
	<option value="room7">Room7</option>
	</select>
	<input type="submit" value ="Submit"/>
	</form>
	</div>
	</input>
	<p align="center"><a href="front"><font size="+2">Go to home</font></a></p>
  </body>
</html>

